$systems__border = 1px solid #BDBDBD
$systems__border-radius = 4px

.systems__item
  border-top $systems__border
  border-right $systems__border
  border-left $systems__border
  padding 15px
  font-weight 500

.systems__item:first-child
  border-radius $systems__border-radius $systems__border-radius 0 0

.systems__item:last-child
  border-bottom $systems__border
  border-radius 0 0 $systems__border-radius $systems__border-radius

.systems__system-name
  col(2/3)
  float left
  fs 0.75rem

.systems__system-status
  col(1/3)
  text-align right
  fs 0.6rem
  color green
