@import 'jeet'

.status
  color white
  area green
  overflow hidden
  margin-bottom 75px

.status__title
  col(2/3)

.status__refresh-time
  col(1/3)
  fs 0.55rem
  text-align right
  color rgba(255, 255, 255, 0.8)
