@import 'jeet'

.head
  center(max_width=850px)
  height 315px
  position relative

.head__subscribe-strip
  position absolute
  bottom 0
  width 100%
  padding 1rem
  background rgba(0, 0, 0, 0.8)

.head__title
  float left
  fs 2rem
  vertical-align middle
  color white

.head__subscribe-button
  button blue 'large'
  float right
